# Временные папки сборки .NET (в любых подпапках)
[Bb]in/
[Oo]bj/

# Пользовательские настройки и кэш Rider/VS
.idea/
*.user
*.userosscache
*.sln.docstates

# Настройки самого Rider, которые вы игнорировали
.shelf/
/workspace.xml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/*.iml

# Конфиденциальные данные
.env
appsettings.Development.json
